<h1>Projects</h1>
{% directory path: giscience/_projects %}
	{% assign pathname = file.name | append: '/README.md' %}
	<div class="frame" onclick="location.href='#';" style="cursor: pointer;"><strong>{{file.name}}</strong>{% markdown pathname %}</div>
{% enddirectory %}

