<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{% if page.title %} {{ page.title }} {% else %} {{ site.name }} {% endif %}</title>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
        
        <!-- Bootstrap core CSS -->
    	<link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
        <script> 
        	console.log("some futur javascript")
        </script>

    </head>
    <body>

		<div class="container">

			<div class="col-sm-3">
				<h1>{{site.script}}</h1>
				<h1>{{ site.name }}</h1>
				<img id="about" src="{{ site.baseurl }}/img/logo.jpg" height="75px" width="75px" /><br />	

				<strong>navigation</strong><br />
				<a href="{{ site.baseurl }}/">home</a> <br />
				{% for i in site.urls %}
					<a class="about" href="{{ i.url }}">{{ i.text }}</a><br />
				{% endfor %}
				
				{% if site.about %}
				<div id="about">
					<strong>about</strong><br />
					{{ site.about }}
				</div>
				{% endif %}
			</div>

			<div class="col-sm-9 col-offset-1">
				<div class="c1">{% include projects.html %}</div>
				<div class="c2">{{ content }}</div>

				<footer>
					&copy; {{ site.name }}
					{% if site.gitlab %} 
						- <a href="{{ site.gitlab }}">{{ site.gitlab }}</a>
					{% endif %}
				</footer>
			</div>
		
		</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    </body>
</html>
